html, body, #root {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.footer {
  padding: 20px 0;
  background: var(--footer-color);
  color: var(--footer-text-color);
}
