:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --footer-color: #1294D4;
  --text-color: #333;
  --link-color: #2980b9;
  --link-hover-color: #afb4c1; 
  --button-color: #e9e8f0; 
  --button-hover-color: #1294D4;
  --footer-text-color: #fff;
  --primary-input-background: #e8eef2;
  --secondary-button-color: #e9e8f0;
  --primary-input-background: #e8eef2;
  --secondary-button-color: #e9e8f0;

}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.primary-btn {
  background-color: var(--primary-color);
  text-decoration: none;
  color: white  !important;
}

.primary-btn:hover {
  background-color: var(--button-hover-color);
}

.secondary-btn {
  background-color: var(--button-color);
  text-decoration: none;
  color: black;
}

.secondary-btn:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.primary-btn,
.secondary-btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
}

.black-btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
  color: #fff;
  transition: background 0.2s ease-in-out;
  background: #282930;
}

.black-btn:hover {
  background: #333;
}


.black-btn {
  padding: 0.9rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border-radius: 24px;
  background: #282930;
}

.black-btn:hover {
  background: #333;
}

.red-btn {
  padding: 0.9rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease-in-out;
  border-radius: 24px;
  background: #d93f4b; /* Richer, modern red */
}

.red-btn:hover {
  background: #c02d3a; /* Darker shade on hover */
  transform: scale(1.05); /* Slight scale effect on hover */
}

.clickable {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.clickable:hover {
  opacity: 0.7;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

html, body, #root {
  height: 100%;
  margin: 0;
}